 * {
   margin: 0;
   padding: 0;
 }

 .Menu {
   color: #808080;
   display: flex;
   flex-direction: row;
   width: 80vw;
   margin: 0 auto;
   height: 10vh;
   justify-content: space-around;
   margin-top: 5vh;
   align-items: center;
   background-color: #00579E;
   color: white;
   margin-bottom: 5vh;
 }

 .Menu>div {
   width:7.5vw;
   text-align: center;
   height: inherit;
   line-height: 5vw;
   padding: 0 2vw;
   max-width: 7.5vw;
 }

 .Menu> div:hover {
  background-color: #00457a;
  cursor: pointer;
}

 .headerLink {
   text-decoration: none;
   color: white;
 }

 .Logo {
   display: block;
   margin: auto;
   border-radius: 10%;
   margin-top: 5vh;
   height: 20vh;
   width: auto;
 }

 h1 {
   text-align: center;
   font-family: "Courier";
   color: #00579E;
 }